form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #151515;
  font-family: 'Raleway', sans-serif;
}

#logo {
  color: #eee;
  position: absolute;
  float: right;
  left: 49%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 700;
  margin: 30px;
}

#myVideo {
  /* margin: 20px auto 0; */
  width: 100%;
  height: 600px;
  z-index: -100;
}

#myVideo video {
  display: block;
  margin: 50px auto;
  object-fit: cover;
  text-align: center;
  width: 80%;
  height: 100%;
}

.nav-item {
  list-style-type: none;
}

.navbar {
  background:  #151515;
  padding: 10px 60px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}



.dropdown-menu,
.dropdown-item {
  background: #151525;
  color: #eee;
}

.nav-link {
  color: #eee;
  font-weight: bold;
  margin: 20px;
}

h2,
h3 {
  text-align: center;
  color: #eee;
  font-family: 'Dancing Script', cursive;
}

h5 {
  color: #eee;
}

.hero {
  width: 100vw;
  height: 80vh;
}

 .row {
  padding: 10px;
}

#banner {
  padding: 100px 0 0 0;
}



/* rsvp styles */
#rsvp-section {
  background-color: white;
  position: relative;
}

#placeholder-img {
  height: 30%;
}

#section-header {
  padding-right: 15px;
  padding-left: 15px;
  align-content: center;
} 

#submit-rsvp-btn {
  display: inline-block;
}

.btn-row {
  text-align: right;
}
.form {
  margin: 50px auto;
}

.templates {
  margin: 80px 80px 80px 80px;
}

img {
  align-content: center;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #060606;
  color: #eee;
  text-align: center;
  padding: 40px;
  font-weight: bold;
}

label {
  color: #eee;
}

.form {
  margin: 80px 80px;
}