form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #151515;
  font-family: 'Raleway', sans-serif;
}

#logo {
  color: #eee;
  position: absolute;
  float: right;
  left: 49%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 700;
  margin: 30px;
}

#myVideo {
  /* margin: 20px auto 0; */
  width: 100%;
  height: 600px;
  z-index: -100;
}

#myVideo video {
  display: block;
  margin: 50px auto;
  object-fit: cover;
  text-align: center;
  width: 80%;
  height: 100%;
}

.nav-item {
  list-style-type: none;
}

.navbar {
  background:  #151515;
  padding: 10px 60px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:visited, .btn-link:focus {
  text-decoration: none;
  color: white;
}

.dropdown-menu,
.dropdown-item {
  background: #151525;
  color: #eee;
}

.nav-link {
  color: #eee;
  font-weight: bold;
  margin: 20px;
}

h2,
h3 {
  text-align: center;
  color: #eee;
  font-family: 'Dancing Script', cursive;
}

h5 {
  color: #eee;
}

.hero {
  width: 100vw;
  height: 80vh;
}

 .row {
  padding: 10px;
}



/* rsvp styles */

#rsvp-section {
  background:  #151515;
  position: relative;
  color: #eee;

}

#placeholder-img {
  height: 35%;
}

#section-header {
  display: inline-block;
  margin-left: 10px;

} 

#submit-rsvp-btn {
  display: inline-block;
  margin-right: 10px;
}

#rightside-panel {
  text-align: left;
}

.btn-row {
  text-align: right;
}
.form {
  margin: 50px auto;
}

.templates {
  margin: 80px 80px 80px 80px;
}

img {
  align-content: center;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #060606;
  color: #eee;
  text-align: center;
  padding: 40px;
  font-weight: bold;
}

label {
  color: #eee;
}

.form {
  margin: 80px 80px;
}

.field {
  color: yellow;
}

[data-role="dynamic-fields"]>.form-inline+.form-inline {
  margin-top: 0.5em;
}

[data-role="dynamic-fields"]>.form-inline [data-role="add"] {
  display: none;
}

[data-role="dynamic-fields"]>.form-inline:last-child [data-role="add"] {
  display: inline-block;
}

[data-role="dynamic-fields"]>.form-inline:last-child [data-role="remove"] {
  display: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

#signinbtn,
#logoutbtn {
  margin: 20px;
}

i {
  padding: 3px;
}

.fa-facebook {
  padding-left: 20px;
}

#InvWrapper {
  position: relative;
  width: 36vw;
  height: 47vw;
  font-family: 'Dancing Script',cursive;
  font-size: 30px;
}

#text5 {
  font-size: 20px;
}

#InvWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

#InvWrapper .field {
  position: absolute;
  z-index: 2;
}

#InvWrapper #text1 {
  top: 32%;
  left: 50%;
  color: #111;
  transform: translateX(-50%);
}

#InvWrapper #text2 {
  top: 43%;
  left: 50%;
  color: #111;
  transform: translateX(-50%);
}

#InvWrapper #text3 {
  top: 52%;
  left: 50%;
  color: #111;
  transform: translateX(-50%);
}

#InvWrapper #text4 {
  top: 57%;
  left: 50%;
  color: #111;
  transform: translateX(-50%);
}

#InvWrapper #text5 {
  top: 65%;
  left: 50%;
  color: #111;
  transform: translateX(-50%);
}

#exampleModalLongTitle{
  font-family: 'Dancing Script',cursive;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.h2-login {
  font-family: 'Dancing Script',cursive;
  font-size: 30px;
  font-weight: bolder;
  color: black; 
}

.authtext {
  font-family: 'Dancing Script',cursive;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.hostrsvp {
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  min-width: 100%;
}

#tracking-table {
  min-height: calc(100vh - 148px - 88px);
}